/* css code for header and footer */
.top-head{
    background-color: whitesmoke;
}

.nav-item :hover {
    background-color: green;
    height: fit-content;
  }

.head{
    margin: auto;
}

.footer-main-wrapper{
    background-color: #151F4F;
}

.items{
    color: black;
}

.homepage-links{
    margin-right: 15px;
}

.links ul {
    list-style-type: none;
}

.socials a{
    color: white;
}

li a {
    color: white;
    transition: color .2s;
}

li a:hover {
    text-decoration: none;
    color: #06bf56;
}

.register{
    font-family: Tahoma, sans-serif;
}

.about-company i {
    font-size: 25px;
}

i a {
    color: white;
    transition: color .2s;
}

a:hover {
    color: #06bf56;
}

.location i {
    font-size: 18px;
}

.copyright p {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.useful-link-listl{
    line-height: 30px;
}

.list-unstyled{
    line-height: 30px;
}

.footer-content-widget{
    line-height: 22px;
}

.check{
    list-style: none;
}

.nav-link :hover{
    background-color: #06bf56
}





/* css code for the index */
.slider img{
    width: auto;
    height: 220px;

}
.text-center{
    text-align: center;
    font-size: medium;
    font-style: italic;
    font-weight: bold;
}
.row{
    margin-top: 20;
    cursor: pointer;
}

.carousel-content {
    position:absolute;
    bottom: 50%;
    left: 25%;
    z-index: 20;
    color: rgb(215, 189, 189);
    text-shadow: rgb(60, 142, 60);
  }
  .courses{
      height: 400px;
      width: 100%;
  }
  .from-the-best{
      background-color: whitesmoke;
      width: auto;
      height: 15%;
  }
  .we-are{
      font-weight:400;
      font-style: normal;
      text-decoration: solid;
      background-color: rgb(207, 200, 200);
  }
/* end of index css */
